.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	float: left;
	padding-right: 10px;
	padding-left: 10px;
	border: 1px solid transparent;
	border-radius: 2px;
	font-size: 12px;
	color: $white;
	transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	cursor: pointer;

	&:not(:disabled):hover,
	&:not(.is-disabled):hover {
		border-color: $primary;
		color: $primary;
	}

	.is-active,
	&:active {
		border-color: #2e2aaa;
		color: #2e2aaa;
	}

	&:disabled,
	&.is-disabled {
		cursor: not-allowed;
		border-color: #dddee5;
		color: #c1c1c6;
	}
}

// button height size
.btn-xs {
	height: 21px;
	font-size: 11px;
}

.btn-sm {
	height: 25px;
	font-size: 11px;
}

.btn-md {
	height: 29px;
}

.btn-lg {
	height: 35px;
}

// button width size
.btn-w-sm {
	min-width: 60px;
}

.btn-w-md {
	min-width: 80px;
}

.btn-w-lg {
	min-width: 110px;
}

.btn-block {
	width: 100%;
}

.btn {
	background-color: $white;
	border: 1px solid $gray-500;
	color: #343646;

	&.ml-1 {
		margin-left: 3px !important;
	}
}

.btn-primary {
	background-color: $primary;
	border-color: #2e2aaa;
	color: $white;

	&:not(:disabled):hover,
	&:not(.is-disabled):hover {
		background-color: #5450e1;
		color: $white;
	}

	.is-active,
	&:active {
		color: $white;
		background-color: #2e2aaa;
	}

	&:disabled,
	&.is-disabled {
		background-color: #c2c1f4;
		border-color: #bdbbe4;
		color: $white;
	}
}

.btn-blue {
	background-color: #306ffd;
	border-color: #033dd5;
	color: $white;

	&:not(:disabled):hover,
	&:not(.is-disabled):hover {
		background-color: #457efd;
		color: $white;
	}

	.is-active,
	&:active {
		background-color: #033dd5;
		color: $white;
	}

	&:disabled,
	&.is-disabled {
		background-color: #c1d4fe;
		border-color: #b4c5f2;
		color: $white;
	}

	i {
		color: $white;
	}
}

.btn-dark {
	background-color: #393b4c;
	border-color: #111119;
	color: $white;

	&:not(:disabled):hover,
	&:not(.is-disabled):hover {
		color: $white;
		background-color: #434659;
		border-color: #1b1c26;
	}

	.is-active,
	&:active {
		background-color: #111119;
		color: $white;
	}

	&:disabled,
	&.is-disabled {
		background-color: #c4c5ca;
		border-color: #b8b8ba;
		color: $white;
	}
}

.btn-wrapper {
	display: flex;
	margin-right: -1.5px;
	margin-left: -1.5px;

	& > * {
		margin-right: 1.5px;
		margin-left: 1.5px;
	}
}

.btn-ico {
	width: 29px;
	padding: 0;
}

.ml-1 {
	margin-left: 4px;
}
