// Common Color Pallete

// Black and White Color
// white
$white:  #fff !default;

// Lightgrays
$pale-gray-1       :  #f7f8fa !default;
$pale-gray-2       :  #f0f0f5 !default;
$pale-lilac-1      :  #e8e9f0 !default;
$pale-lilac-2      :  #e0e2eb !default;
$light-periwinkle-1:  #D9DBE6 !default;
$light-periwinkle-2:  #d1d3e0 !default;
$light-blue-gray-1 :  #caccdb !default;
$light-blue-gray-2 :  #c2c5d6 !default;
$cloudy-blue-1     :  #babed1 !default;

$lightgray-1:  $pale-gray-1;
$lightgray-2:  $pale-gray-2;
$lightgray-3:  $pale-lilac-1;
$lightgray-4:  $pale-lilac-2;
$lightgray-5:  $light-periwinkle-1;
$lightgray-6:  $light-periwinkle-2;
$lightgray-7:  $light-blue-gray-1;
$lightgray-8:  $light-blue-gray-2;
$lightgray-9:  $cloudy-blue-1;

$lightgrays:  () !default;

$lightgrays: map-merge(
  (
    '1':  $pale-gray-1,
    '2':  $pale-gray-2,
    '3':  $pale-lilac-1,
    '4':  $pale-lilac-2,
    '5':  $light-periwinkle-1,
    '6':  $light-periwinkle-2,
    '7':  $light-blue-gray-1,
    '8':  $light-blue-gray-2,
    '9':  $cloudy-blue-1,
  ),
  $lightgrays
);

// Grays
$cloudy-blue-2    :  #b3b6cc !default;
$lightgray-blue-1:  #abafc7 !default;
$lightgray-blue-2:  #a2a6be !default;
$bluey-gray-1     :  #999db4 !default;
$bluey-gray-2     :  #9094ab !default;
$blue-gray-1      :  #878ba1 !default;
$blue-gray-2      :  #7e8298 !default;
$steel            :  #75788e !default;
$battleship-gray  :  #6c6f85 !default;

$gray-1:  $cloudy-blue-2;
$gray-2:  $lightgray-blue-1;
$gray-3:  $lightgray-blue-2;
$gray-4:  $bluey-gray-1;
$gray-5:  $bluey-gray-2;
$gray-6:  $blue-gray-1;
$gray-7:  $blue-gray-2;
$gray-8:  $steel;
$gray-9:  $battleship-gray;

// $gray: $gray-900;

$grays:  () !default;

$grays: map-merge(
  (
    '1':  $cloudy-blue-2,
    '2':  $lightgray-blue-1,
    '3':  $lightgray-blue-2,
    '4':  $bluey-gray-1,
    '5':  $bluey-gray-2,
    '6':  $blue-gray-1,
    '7':  $blue-gray-2,
    '8':  $steel,
    '9':  $battleship-gray,
  ),
  $grays
);

// Darkgrays
$slate-gray-1   :  #63667b !default;
$slate-gray-2   :  #5a5d72 !default;
$slate-gray-3   :  #515468 !default;
$gunmetal       :  #434659 !default;
$charcoal-gray-1:  #3e4052 !default;
$charcoal-gray-2:  #393b4c !default;
$charcoal-gray-3:  #343646 !default;
$charcoal-gray-4:  #2f313f !default;

$darkgray-1:  $slate-gray-1;
$darkgray-2:  $slate-gray-2;
$darkgray-3:  $slate-gray-3;
$darkgray-4:  $gunmetal;
$darkgray-5:  $charcoal-gray-1;
$darkgray-6:  $charcoal-gray-2;
$darkgray-7:  $charcoal-gray-3;
$darkgray-8:  $charcoal-gray-4;

$darkgrays:  () !default;

$darkgrays: map-merge(
  (
    '1':  $slate-gray-1,
    '2':  $slate-gray-2,
    '3':  $slate-gray-3,
    '4':  $gunmetal,
    '5':  $charcoal-gray-1,
    '6':  $charcoal-gray-2,
    '7':  $charcoal-gray-3,
    '8':  $charcoal-gray-4,
  ),
  $darkgrays
);

// Dark
$dark-1:  #2a2b39 !default; 
$dark-2:  #252632 !default;
$dark-3:  #20212c !default;
$dark-4:  #1b1c26 !default; 
$dark-5:  #16161f !default;
$dark-6:  #111109 !default;

$darks:  () !default;

$darks: map-merge(
  (
    '1':  $dark-1,
    '2':  $dark-2,
    '3':  $dark-3,
    '4':  $dark-4,
    '5':  $dark-5,
    '6':  $dark-6,
  ),
  $darks
);
