.example-desc {

  code {
    padding: 2px 4px;
    background-color: rgba(255,229,100,.25);
    color: #e83e8c;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
  }
}
